@font-face {
    font-family: 'UniSansSemiBoldItalic';
    src: url('UniSansSemiBoldItalic.woff2') format('woff2'),
        url('UniSansSemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'UniSansHeavy';
    src: url('UniSansHeavy.woff2') format('woff2'),
        url('UniSansHeavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'UniSansBoldItalic';
    src: url('UniSansBoldItalic.woff2') format('woff2'),
        url('UniSansBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'UniSansThin';
    src: url('UniSansThin.woff2') format('woff2'),
        url('UniSansThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'UniSansBookItalic';
    src: url('UniSansBookItalic.woff2') format('woff2'),
        url('UniSansBookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'UniSansSemiBold';
    src: url('UniSansSemiBold.woff2') format('woff2'),
        url('UniSansSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'UniSansLight';
    src: url('UniSansLight.woff2') format('woff2'),
        url('UniSansLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'UniSansRegular';
    src: url('UniSansRegular.woff2') format('woff2'),
        url('UniSansRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UniSansLightItalic';
    src: url('UniSansLightItalic.woff2') format('woff2'),
        url('UniSansLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'UniSansThinItalic';
    src: url('UniSansThinItalic.woff2') format('woff2'),
        url('UniSansThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'UniSansRegularItalic';
    src: url('UniSansRegularItalic.woff2') format('woff2'),
        url('UniSansRegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'UniSansBook';
    src: url('UniSansBook.woff2') format('woff2'),
        url('UniSansBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('UniSansHeavyItalic.woff2') format('woff2'),
        url('UniSansHeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'UniSansBold';
    src: url('UniSansBold.woff2') format('woff2'),
        url('UniSansBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans Heavy Italic CAPS';
    src: url('UniSansHeavyItalicCAPS.woff2') format('woff2'),
        url('UniSansHeavyItalicCAPS.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

