description = "Default layout"
==
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ this.page.meta_title?this.page.meta_title:this.page.title }}</title>
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="description" content="{{ this.page.meta_description }}">
    
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,shrink-to-fit=no,user-scalable=0">
    {% styles %}
    <link type="text/css" rel="stylesheet" href="{{ 'assets/css/partner.css'|theme }}" />
    <link rel="shortcut icon" href="{{ 'assets/img/favicon.png'|theme }}">
</head>

<body>

    <?php echo setting_all('body_tag'); ?>
    <div class="window">
        <div id="head">{% partial 'partner/header' %} </div>
        <main id="content">
            {% page %}
        </main>
        {% partial 'partner/footer' %}
    </div>
    <!-- Scripts -->
    {% snowboard all %}
    {% scripts %}
</body>

</html>